  <!-- header-start -->
  <header>
    <div class="header-area ">
       <div id="sticky-header" class="main-header-area">
           <div class="container-fluid ">
               <div class="header_bottom_border">
                   <div class="row align-items-center">
                       <div class="col-xl-3 col-lg-2">
                           <div class="logo">
                               <a href="/">
                                   <img src="<%= link_logo  %>" alt="">
                               </a>
                           </div>
                       </div>
                       <div class="col-xl-6 col-lg-7">
                           <div class="main-menu  d-none d-lg-block">
                               <nav>
                                   <ul id="navigation">
                                       <li><a href="/">Trang chủ</a></li>
                                       <li><a href="">Tìm việc</a></li>
                                   </ul>
                               </nav>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <% if (!currentUser) { %>
                                    <div class="phone_num d-none d-xl-block">
                                        <a class="boxed-btn3" href="/signup_role">Đăng ký</a>
                                    </div>
                                    <div class="phone_num d-none d-lg-block">
                                        <a class="boxed-btn3" href="/signin">Đăng nhập</a>
                                    </div>
                                <%} else {  %>
                                    <div style="margin-right: 10px" class="d-none d-xl-block">
                                        <% if (currentUser.role === 1) { %> 
                                            <a class="boxed-btn3" href="/employer_dashboard"><i class="fa fa-dashboard fa-1x text-gray-100"></i></a>
                                        <% } else if (currentUser.role === 2) {  %>
                                            <a class="boxed-btn3" href="/employee_dashboard"><i class="fa fa-dashboard fa-1x text-gray-100"></i></a>
                                        <% } %>   
                                    </div>
                                    
                                    <div class=" d-none d-lg-block">
                                        <a class="boxed-btn3" href="/signout">Đăng xuất</a>
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                       <div class="col-12">
                           <div class="mobile_menu d-block d-lg-none"></div>
                       </div>
                   </div>
               </div>

           </div>
       </div>
   </div>
</header>
    <!-- header-end -->