  <!-- header-start -->
  <header>
    <div class="header-area ">
       <div id="sticky-header" class="main-header-area">
           <div class="container-fluid ">
               <div class="header_bottom_border">
                   <div class="row align-items-center">
                       <div class="col-xl-3 col-lg-2">
                           <div class="logo">
                               <a href="/">
                                   <img src="../page_index/img/logo.png" alt="">
                               </a>
                           </div>
                       </div>
                       <div class="col-xl-6 col-lg-7">
                           <div class="main-menu  d-none d-lg-block">
                               <nav>
                                   <ul id="navigation">
                                       <li><a href="/">home</a></li>
                                       <li><a href="">Browse Job</a></li>
                                   </ul>
                               </nav>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                           <div class="Appointment">
                               <% if (currentUser === 0) { %>
                                   <div class="phone_num d-none d-xl-block">
                                       <a class="boxed-btn3" href="/signup_role">Sign up</a>
                                   </div>
                                   <div class="phone_num d-none d-lg-block">
                                       <a class="boxed-btn3" href="/signin">Sign in</a>
                                   </div>
                               <%} else {  %>
                                   <div style="margin-right: 10px" class="d-none d-xl-block">
                                       <a class="boxed-btn3" href="/employer_dashboard"><i class="fa fa-dashboard fa-1x text-gray-100"></i></a>
                                   </div>
                                   
                                   <div class=" d-none d-lg-block">
                                       <a class="boxed-btn3" href="/signout">Log out</a>
                                   </div>
                               <% } %> 
                           </div>
                       </div>
                       <div class="col-12">
                           <div class="mobile_menu d-block d-lg-none"></div>
                       </div>
                   </div>
               </div>

           </div>
       </div>
   </div>
</header>
    <!-- header-end -->