<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Icon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Main css -->
    <link href="../page_signup_role/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../page_signup_role/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../page_signup_role/css/style.css" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

<body>
    <div>
        <%- include('header'); -%>
    q</div>

    <div style="margin-top: 50px;" class="main">

        <!-- Sign up form -->
        <div class="signup">
            <div style="padding: 50px 0px 50px 0px;" class="container">
                <div style="font-weight: bold; font-size: 30px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" align="center">
                        Nhu cầu của bạn là
                </div>
                <div class="container-fluid">
                    <div style="margin-top: 50px;" align="center" class="col-sm">
                        <a href="/signup_role/employer" class="btn btn-danger btn-icon-split btn-lg">
                            <span class="icon text-white-50">
                              <i class="fas fa-user"></i>
                            </span>
                            <span class="text">Người tìm việc</span>
                          </a>
                    </div>
                    <div style="margin-top: 80px; margin-bottom: 20px;" align="center" class="col-sm">
                        <a href="#" class="btn btn-danger btn-icon-split btn-lg">
                            <span class="icon text-white-50">
                              <i class="fas fa-briefcase"></i>
                            </span>
                            <span class="text">Nhà tuyển dụng</span>
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="../page_signup_role/vendor/jquery/jquery.min.js"></script>
    
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>